body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

img {
  height: 50px;
}

header {
  color: #0c549c;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 24px;
}

h2 {
  color: #e41c84;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  color: #0c549c;
}

ul {
  list-style: disc;
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
}
